@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<Sklad.Models.Product>
@{
}
<br />
<h2> List of Products</h2>




<div class="topblock">
    <a class='btn btn-primary btn-sm' style="background-color:#0563af !important; padding: 10px;border-radius: 7px;     margin-top: 10px;" href="/Products/New_Product"><strong>Add new product</strong></a>


    <div class="topblock2">
        <a href="/Products/Products">
            <img width="90" src="~/icon2.png">
        </a>
        <div class="box">
            <select name="selection">
                <option value="ID" selected>ID</option>
                <option value="Name">Name</option>
                <option value="Price1">Price ↑</option>
                <option value="Price2">Price ↓</option>
                <option value="Count1">Count ↑</option>
                <option value="Count2">Count ↓</option>
            </select>
        </div>
    </div>
</div>







<div class="grid">
   


            @foreach (var item in Model)
            {

        <div class="product_block" data-id="@item.id">
            <div class="left_grid_info">

               
                    @if (item.image != null && item.image.Length > 0)
                    {
                    <img width="200" src="data:image/jpg;base64,@Convert.ToBase64String(item.image)" alt="Product Image" style="margin: 10px 25px;">
                    }
                    else
                    {
                        <img width="200" src="~/product.png" alt="Default Product Image" style="margin: 10px 25px;">
                    }
                
                    <br />  
                    <strong>Name: </strong>
                    <span class="pname">
                        @item.name
                    </span>
                    <br />
                    <strong>Count: </strong>
                    <span class="pcount">
                        @item.count
                    </span>
                    <br />
                    <strong>Price: </strong>
                    <span class="pprice">
                        @item.price
                    </span>
                    <br />
                <div class="bottom_grid_info">
                    <a class="btn btn-primary btn-sm" data-id="@item.id" href="/Products/New_Product?id=@item.id"><i class="fas fa-pencil-alt"></i></a>
                    <a class="btn btn-danger btn-sm delete-btn2" data-id="@item.id" href="#"><i class="fas fa-trash-alt"></i></a>
                </div>
          
            </div>



            




            <div class="right_grid_info">
                <div class="right_hide">
                    <strong>Category: </strong>
                    <span class="pcateg">
                        @item.category
                    </span>
                <br />
                    <strong>Measurement Unit: </strong>
                    <span class="pme">
                        @item.measurement_unit
                    </span>
                <br />
                    <strong>Price Unit: </strong>
                    <span class="ppru">
                        @item.price_unit
                    </span>
                <br />
                    <strong>Producer: </strong>
                    <span class="ppro">
                        @item.producer
                    </span>
                <br />
                    <strong>Supplier: </strong>
                    <span class="psup">
                        @item.supplier
                    </span>
                <br />
                </div>

                



            </div>


                    @{
                        decimal price = Convert.ToDecimal(item.price);
                        decimal count = Convert.ToDecimal(item.count);
                    }

            
        </div>
    }
        
       
 
</div>
