@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<Sklad.Models.Product>
@{
}
<br />
<h2> List of Products</h2>




<div class="topblock">
    <a class='btn btn-primary btn-sm' style="background-color:#0563af !important; padding: 10px;border-radius: 7px;     margin-top: 10px;" href="/Products/New_Product"><strong>Add new product</strong></a>


    <div class="topblock2">
        <a href="/Products/Products">
            <img width="90" src="~/icon2.png">
        </a>
        <div class="box">
            <select name="selection">
                <option value="ID" selected>ID</option>
                <option value="Name">Name</option>
                <option value="Price up">Price ↑</option>
                <option value="Price down">Price ↓</option>
                <option value="Count">Count</option>
            </select>
        </div>
    </div>
</div>







<div class="grid">
   


            @foreach (var item in Model)
            {

        <div class="product_block" data-id="@item.id">
            <img width="250" src="~/product.png" style="margin: 10px 40px;">
           <br />
            <br />
            <strong>Name: </strong>
            <span class="pname">
                @item.name
            </span>
            <br />
            <div class="pcateg">
                @item.category
            </div>
            <div class="ppro">
                @item.producer
            </div>
            <strong>Price: </strong>
            <span class="pprice">
                @item.price
            </span>
            <br />
            <strong>Count: </strong>
            <span class="pcount">
                @item.count
            </span>
            <br />
            <div class="psup">
                @item.supplier
            </div>
            <div class="pme">
                @item.measurement_unit
            </div>
            <div class="ppru">
                @item.price_unit
            </div>
            <br />
                    @{
                        decimal price = Convert.ToDecimal(item.price);
                        decimal count = Convert.ToDecimal(item.count);
                    }


            <a class="btn btn-primary btn-sm" data-id="@item.id" href="/Products/New_Product?id=@item.id"><i class="fas fa-pencil-alt"></i></a>

            <a class="btn btn-danger btn-sm delete-btn2" data-id="@item.id" href="#"><i class="fas fa-trash-alt"></i></a>
        </div>
    }
        
       
 
</div>
