@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Sklad.Models.Product
@{
}
<form method="POST" action="/Products/Edit">


    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Name</label>
        <div class="col-sm-6">
            <input type="text" class="form-control form__field" name="name" value="@(Model != null ? Model.name : "")" required />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Category</label>
        <div class="col-sm-6">
            <select type="text" class="form-control form__field" name="category" value="@(Model != null ? Model.category : "")">
                @foreach (var category in ViewBag.Tables_data.categories)
                {
                    <option selected="@((Model != null && Model.category == category).ToString().ToLower())">@category</option>
                }
            </select>

        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Producer</label>
        <div class="col-sm-6">
            <select type="text" class="form-control form__field" name="producer" value="@(Model != null ? Model.producer : "")" />
            @foreach (var producer in ViewBag.Tables_data.producers)
            {
                <option selected="@((Model != null && Model.producer == producer).ToString().ToLower())">@producer</option>
            }
            </select>
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Price</label>
        <div class="col-sm-6">
            <input type="text" class="form-control form__field" name="price" value="@(Model != null ? Model.price : "")" required />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Count</label>
        <div class="col-sm-6">
            <input type="text" class="form-control form__field" name="count" value="@(Model != null ? Model.count : "")" required />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Supplier</label>
        <div class="col-sm-6">
            <select type="text" class="form-control form__field" name="supplier" value="@(Model.supplier != null ? Model.supplier : "")" />
            @foreach (var supplier in ViewBag.Tables_data.suppliers)
            {
                <option selected="@((Model != null && Model.supplier == supplier).ToString().ToLower())">@supplier</option>
            }
            </select>
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Measurement Unit</label>
        <div class="col-sm-6">
            <select type="text" class="form-control form__field" name="measurement_unit" value="@(Model != null ? Model.measurement_unit : "")" required />
            <option selected>unit</option>
            <option>Kg</option>
            <option>L</option>
            <option>M²</option>
            </select>
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Price Unit</label>
        <div class="col-sm-6">
            <select type="text" class="form-control form__field" name="price_unit" value="@(Model != null ? Model.price_unit : "")" required />
            <option selected>$</option>
            <option>₴</option>
            <option>¥</option>
            <option>₤</option>
            </select>
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Image</label>
        <div class="col-sm-6" style="    display: -webkit-inline-box;">
            <input id="img1" type="file" class="form-control form__field" style="font-size:15px;padding-left: 25px;    width: 350px;" />
            <a class="btn btn-danger btn-sm delete-btn2" id="deleteimg" href="#" style=" display:none;"><i class="fas fa-trash-alt"></i></a>
            <input id="img2" type="text" style="display:none;" class="form-control form__field" name="image" value="@(Model.image != null ? Convert.ToBase64String(Model.image) : "")" />
        </div>
    </div>
    <div class="row mb-3">
        <div class=" offset-sm-3 col-sm-3 d-grid">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
       
    </div>
</form>