@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<Sklad.Models.Product>
@{
}
<br />
<h2> List of Products</h2>


<div class="topblock">
<a class='btn btn-primary btn-sm' style="background-color:#0563af !important; padding: 10px;border-radius: 7px;     margin-top: 10px;" href="/Products/New_Product"><strong>Add new product</strong></a>


    <div class="topblock2">
        <a href="/Products/Grid_Products">
            <img width="90" src="~/icon.png">
        </a>
        <div class="box">
            <select name="selection">
                <option value="ID" selected>ID</option>
                <option value="Name">Name</option>
                <option value="Price1">Price ↑</option>
                <option value="Price2">Price ↓</option>
                <option value="Count1">Count ↑</option>
                <option value="Count2">Count ↓</option>
            </select>
        </div>
</div>
</div>



<div class="table2">
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Category</th>
            <th>Producer</th>
            <th>Price</th>
            <th>Count</th>
            <th>Supplier</th>
            <th>Measurement Unit</th>
            <th>Price Unit</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.id</td>
                <td>@item.name</td>
                <td>@item.category</td>
                <td>@item.producer</td>
                <td>@item.price</td>
                <td>@item.count</td>
                <td>@item.supplier</td>
                <td>@item.measurement_unit</td>
                <td>@item.price_unit</td>
                <td style="text-align: center;">
                    <a class="btn btn-primary btn-sm" href="/Products/New_Product?id=@item.id"><i class="fas fa-pencil-alt"></i></a>
                    <a class="btn btn-danger btn-sm delete-btn" data-id="@item.id" href="#" style="margin-right: -10px;    margin-left: 10px;"><i class="fas fa-trash-alt"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
</div>